@charset "UTF-8";
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #eee;
  font-size: 18px;
  min-height: 100%;
  padding: 0 0 0 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Googl fonts*/
hr {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 0.14em;
  margin: 1em auto;
}

br {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 0.14em;
  margin: 1em auto;
}

hr.mobile {
  display: none;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

img.svg {
  height: 1.5em;
  position: absolute;
  margin: -0.2em 0 0 -1.5em;
}

img.plain {
  width: 100%;
}

.filter-invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

::-moz-selection {
  background: #19be9d;
  color: #fff;
}

::selection {
  background: #19be9d;
  color: #fff;
}

/*9/            /*12/                                   /*9*/
/*9*/
/*9*/
/*9*/
/*9*/
/* Double line break means styling of entierly new element
      Line brek means new pice of styling of curent group
        } means jumping back/lower is not child or directly connected to above
          if no } above, this style is directly connected to above (childe or chare same properties)
  */
/* Phi: 1.61803398875    -   0.80901699437    -    1 - phi = 0.61803398875  --> /2 --> 30.9016994375 (for padding both)*/
/*9/            /*12/                                   /*9*/
/*9*/
/*9*/
/*9*/
/*9*/
div.top {
  width: 1470px;
  padding: 1em 2em;
  margin: 0 auto;
}

nav {
  display: block;
  background: #19be9d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  z-index: 1;
}

nav div {
  width: 1323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1323px;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav ul li a {
  display: block;
  font-size: 1.2em;
  padding: 0.7em 0.1em;
  text-align: center;
  color: #fff;
  z-index: 1;
  border-bottom: 0.3em solid transparent;
  border-top: 0.2em solid transparent;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
  background: #00a2ff;
}

nav ul li.active a {
  border-bottom: 0.3em solid #00a2ff;
}

nav.logo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}

nav.logo li a {
  border-bottom: 0.3em solid transparent;
  border-top: 0.2em solid transparent;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

nav.logo ul.left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav.logo ul.left li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
}

nav.logo ul.left li a p {
  font-size: 1.15em;
  padding-top: 0.75em;
  height: 2.25em;
  font-weight: bolder;
  border-bottom: 0.3em solid transparent;
  -webkit-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
}

nav.logo ul.left li a img {
  height: 2.6em;
  margin-top: 0.25em;
}

nav.logo ul.left li a:hover {
  background: inherit;
}

nav.logo ul.left li a:hover p {
  border-bottom: 0.3em solid #00a2ff;
}

nav.logo div.burger {
  display: none;
  cursor: pointer;
}

div.slideshow-container {
  position: relative;
  display: block;
  width: 100%;
  background: steelblue;
  /* The dots/bullets/indicators */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}

div.slideshow-container div {
  -webkit-transition: margin 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}

div.slideshow-container div.nav-dots {
  position: absolute;
  width: 100%;
  bottom: 2em;
  text-align: center;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.slideshow-container div.nav-dots .dot {
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background: #9eb3c3;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

div.slideshow-container div.nav-dots .active {
  background-color: #19be9d;
}

div.slideshow-container .prev, div.slideshow-container .next {
  position: absolute;
  font-size: 1.5em;
  padding: 1em;
  margin-top: -1.715em;
  border-radius: 0 0.2em 0.2em 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.4s background ease;
  transition: 0.4s background ease;
}

div.slideshow-container .next {
  right: 0;
  border-radius: 0.2em 0 0 0.2em;
}

div.slideshow-container .prev:hover, div.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

div.slideshow-container .slide-0 {
  margin-left: 0;
}

div.slideshow-container .slide-1 {
  margin-left: -100%;
}

div.slideshow-container .slide-2 {
  margin-left: -200%;
}

div.slideshow-container .slide-3 {
  margin-left: -300%;
}

div.slideshow-container .slide-4 {
  margin-left: -400%;
}

div.slideshow-container .slide-5 {
  margin-left: -500%;
}

div.slideshow-container .slide-6 {
  margin-left: -600%;
}

div.slideshow-container .slide-7 {
  margin-left: -700%;
}

div.slideshow-container .slide-8 {
  margin-left: -800%;
}

div.slideshow-container .slide-9 {
  margin-left: -900%;
}

div.slideshow-container .slide-10 {
  margin-left: -1000%;
}

div.slideshow-container .slide-11 {
  margin-left: -1100%;
}

div.slideshow-container .slide-12 {
  margin-left: -1200%;
}

div.slideshow-container .slide-13 {
  margin-left: -1300%;
}

div.container-slide-main {
  height: 60vh;
  overflow: hidden;
}

div.container-slide-main .prev, div.container-slide-main .next {
  top: 50%;
}

/* Specific for landing page */
div.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 400%;
}

div.slideshow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-transition: margin 700ms;
  transition: margin 700ms;
  -webkit-transition: all .3s;
  transition: all .3s;
}

div.slideshow img {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

div.slideshow div.mobile {
  display: none;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: justify;
  background: inherit;
  min-height: 80vh;
  color: #000;
}

main > div:first-child {
  padding-top: 2em;
}

main div.section {
  width: 100%;
  padding-left: calc(50% - 1470px / 2);
  padding-right: calc(50% - 1470px / 2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main a {
  color: #19be9d;
  text-decoration: underline;
}

main a:hover {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

main h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
  text-decoration: underline;
}

main h1, main h2, main h3, main h4, main h5 {
  text-align: center;
  text-decoration: underline;
}

main p {
  padding: 1em 0;
}

main p:first-child {
  padding: 0 0 1em;
}

main p + hr, main p + br {
  margin-top: 0;
  padding-top: 0;
}

main hr + p, main br + p {
  padding-top: 0;
  margin-top: 0;
}

main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div.padding > div {
  padding: 2em 1em;
}

main div.center {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 30.9016994375% 0;
  font-size: null;
  text-align: center;
  color: #fff;
  background: #ff0051;
  min-height: 450px;
}

main div.center div {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main div.center div.large p {
  width: 61.803398875%;
  margin: 0 auto;
}

main div.center h1, main div.center h2, main div.center h3, main div.center p {
  padding: 0.1em 1em 0.3em;
}

main div.blue {
  background: steelblue;
  color: #fff;
}

main .info h1, main .info h2, main .info h3, main .info h4 {
  text-align: center;
  color: #2f303a;
}

.wrap-small {
  min-width: 330px;
  max-width: 700px;
}

.wrap-medium-small {
  min-width: 400px;
  max-width: 700px;
}

.wrap-medium {
  min-width: 490px;
}

div.barrier {
  width: 100%;
  padding: 2.5em 0;
  background: #19be9d;
  clear: both;
}

div.barrier + div.padding {
  padding-top: 1em;
}

.padding + div.barrier {
  margin-top: 0;
}

.x1 {
  font-size: 1em;
}

.x15 {
  font-size: 1.5em;
}

.x16 {
  font-size: 1.6em;
}

.x17 {
  font-size: 1.7em;
}

.x18 {
  font-size: 1.8em;
}

.x19 {
  font-size: 1.9em;
}

.x2 {
  font-size: 2em;
}

.x25 {
  font-size: 25em;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

div.flex-between {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

img.padding {
  margin: 1em 0 2em;
}

form {
  width: 70%;
  margin: 0 auto;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: white;
  background: #00a2ff;
  border-radius: 5px;
}

form input[type=text], form select, form textarea {
  width: 100%;
  font-size: 0.6em;
  padding: 0.8em 1em;
  margin: 0.5em 0 1.2em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form option {
  padding: 1em;
}

form option[value="none"] {
  background-color: #ccc;
}

form input[tupe=text], form button, form .btn {
  font-size: 0.6em;
  padding: 0.9em 1.5em;
  margin: 0.5em 0 0.5em 0;
  background-color: #19be9d;
  color: white;
  border: 0em solid green;
  border-top: none;
  border-bottom: 0.35em solid green;
  border-radius: 0.2em;
  cursor: pointer;
  /*
    input[tupe=text], button, .btn          {font-size: 0.6em;                      padding: 0.9em 1.5em;                   margin: 0.5em 0;                        background-color: $turquoise;           color: white;
                                            border: 0.1em solid green;            border-top: none;                       border-bottom: 0.3em solid green;     border-radius: 0.2em; // #4CAF50

        &:hover {border-bottom: 0.15em solid green;   margin-top: 0.65em; //! margin needs to be the difrence in border-bottom added to initial margin-top - It looks nice if this results in the inital padding(on the sides)
          //TODO Ikke sikker på hvordan jeg skal få til annimasjonen på margin active          transition: border 0.1s, margin 0.1s;//TODO - maby add BG change
        }  
        &:active{border: 0em solid green; margin: 0.75em 0.1em;                   margin-bottom: 0.55em;                     width: calc(100% - 0.2em);} //! For push effect width needs to be reajusted to the borders witdh; ensure that margin hight is right
                        //TODO Ikke sikker på hvordan jeg skal få til annimasjonen på margin active
 */
}

form input[tupe=text]:hover, form button:hover, form .btn:hover {
  border-bottom: 0.25em solid green;
  margin: 0.6em 0 0.5em 0;
}

form input[tupe=text]:active, form button:active, form .btn:active {
  border: 0em solid green;
  margin-top: 0.75em;
  margin-bottom: 0.6em;
}

input[type=submit], button {
  border: 10px solid #fff;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 5px;
  border-left-width: 1px;
}

div.txt-center {
  text-align: center;
}

span.pressence {
  font-weight: bolder;
  font-size: 1.5em;
}

span.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4em;
  padding-top: 4em;
  height: 0;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  margin: 1.5em 0 0 0;
  background: #333;
  width: 100%;
  min-height: 12em;
  padding: 0;
  font-size: 1em;
  color: #fff;
  line-height: 1.21em;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer:hover {
  background: #00a2ff;
}

footer:hover a:hover {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

footer h1, footer h2, footer h3, footer h4, footer h5 {
  padding: 0 1em 1em 0;
}

footer p {
  padding: 0 1em 1em 0;
}

footer div.container {
  width: 1470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto 1em auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1em;
}

footer div.container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1em;
  color: #fff;
}

footer div.container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1500px) {
  div.top {
    width: 100%;
  }
  nav div {
    width: 100%;
  }
  main div.section {
    width: 100%;
  }
  main div.section > div {
    padding-left: 2em;
    padding-right: 2em;
  }
  main div.section > div.center {
    padding-left: 0;
    padding-right: 0;
  }
  nav ul {
    width: 90vw;
  }
  footer div.container {
    padding: 0 1em;
    width: 100%;
  }
  footer div.container > div {
    padding: 0 1em;
  }
}

@media screen and (max-width: 1024px) {
  .padding {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main div.center div.large p {
    width: 80%;
  }
  form {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  nav.logo ul.left li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 1em 0 2em;
  }
  nav.logo ul.left li a {
    padding-bottom: 0.1em;
  }
  nav.logo ul.nav-links {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: #19be9d;
    -webkit-clip-path: circle(0px at 93% -10%);
            clip-path: circle(0px at 93% -10%);
    -webkit-transition: -webkit-clip-path 0.8s ease-out;
    transition: -webkit-clip-path 0.8s ease-out;
    transition: clip-path 0.8s ease-out;
    transition: clip-path 0.8s ease-out, -webkit-clip-path 0.8s ease-out;
    top: 0;
  }
  nav.logo ul.nav-links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  nav.logo ul.nav-links li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-bottom: none;
  }
  nav.logo ul.nav-links li:nth-child(1) {
    -webkit-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
  }
  nav.logo ul.nav-links li:nth-child(2) {
    -webkit-transition: all 0.4s ease 0.4s;
    transition: all 0.4s ease 0.4s;
  }
  nav.logo ul.nav-links li:nth-child(3) {
    -webkit-transition: all 0.4s ease 0.6s;
    transition: all 0.4s ease 0.6s;
  }
  nav.logo ul.nav-links li:nth-child(4) {
    -webkit-transition: all 0.4s ease 0.75s;
    transition: all 0.4s ease 0.75s;
  }
  nav.logo ul.nav-links li:nth-child(5) {
    -webkit-transition: all 0.4s ease 0.9s;
    transition: all 0.4s ease 0.9s;
  }
  nav.logo ul.nav-links li.fade {
    opacity: 1;
  }
  nav.logo ul.nav-links li.active a {
    color: rgba(255, 255, 255, 0.6);
  }
  nav.logo ul.nav-links.open {
    -webkit-clip-path: circle(1300px at 93% -10%);
            clip-path: circle(1300px at 93% -10%);
  }
  nav.logo ul.nav-links.open ~ div.burger {
    position: fixed;
    right: 0;
    top: 0;
    width: 5em;
    height: 2.9499em;
  }
  nav.logo ul.nav-links.open ~ div.burger .line {
    background: transparent;
  }
  nav.logo ul.nav-links.open ~ div.burger .line:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0%;
  }
  nav.logo ul.nav-links.open ~ div.burger .line:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0%;
  }
  nav.logo div.burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    font-size: 1.2em;
    padding-right: 1.5em;
  }
  nav.logo div.burger .line, nav.logo div.burger .line:before, nav.logo div.burger .line:after {
    width: 1.5em;
    height: 0.2em;
    margin: 0;
    background: #fff;
    -webkit-transition: margin-top 0.25s, background 0.1s, -webkit-transform 0.25s;
    transition: margin-top 0.25s, background 0.1s, -webkit-transform 0.25s;
    transition: transform 0.25s, margin-top 0.25s, background 0.1s;
    transition: transform 0.25s, margin-top 0.25s, background 0.1s, -webkit-transform 0.25s;
  }
  nav.logo div.burger .line:before, nav.logo div.burger .line:after {
    content: '';
  }
  nav.logo div.burger .line:before {
    margin: -33.3333% 0 0 0;
  }
  nav.logo div.burger .line:after {
    margin: 33.3333% 0 0 -100%;
  }
  div.slideshow div {
    display: none;
  }
  div.slideshow div.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main {
    text-align: center;
  }
  main div.center {
    font-size: 1.1em;
  }
  main div.center div p, main div.center div h1, main div.center div h2, main div.center div h3 {
    padding-left: 8%;
    padding-right: 8%;
  }
  form {
    width: 85%;
  }
  hr.mobile {
    display: block;
  }
  @supports (-ms-ime-align: auto) {
    nav.logo ul.nav-links {
      height: 0;
      opacity: 0;
    }
    nav.logo ul.nav-links.open {
      height: 100vh;
      opacity: 1;
      -webkit-clip-path: none !important;
              clip-path: none !important;
    }
  }
}

@media screen and (max-width: 510px) {
  main h1 {
    font-size: 2.4em;
  }
  .wrap-medium {
    min-width: 280px;
  }
  main div.center {
    font-size: 0.9em;
  }
  form {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  main h1 {
    font-size: 2em;
  }
  .wrap-medium {
    min-width: 250;
  }
  .wrap-small {
    min-width: 250px;
  }
  .wrap-medium-small {
    min-width: 250px;
  }
  main div.center {
    font-size: 0.8em;
  }
  nav.logo ul.left li {
    padding-left: 6vw;
  }
}

.gold {
  color: #19be9d;
  background: gold;
}

.blue {
  color: #ff0051;
  background: blue;
}

.green {
  color: yellow;
  background: green;
}

.red {
  color: #fff;
  background: #ff0051;
}
/*# sourceMappingURL=styles.css.map */
